* {
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  color: black;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

.character {
  transition-duration: 1s;
}

.character:hover {
  box-shadow: 10px 10px 5px;
  transform: translate(-10px, -10px);
}